h1,h2,h4,h6 {text-align: center;
    color: #59554C;
    font-family: "Heebo", sans-serif;
    font-size: 2.0rem;}
    p {color:#59554C;
    font-family: Times New Roman;
    font-size: 1.5rem;}
body {background-color: #F2EFDF;}
h3,h5,h6 {text-align: left;
    color: #6BAEDC}