h1,h2,h4,h7 {text-align: left;
    color: #5F81FF;
    font-family: "Heebo", sans-serif;
    font-size: 2.0rem;}
    p {color:#59554C;
    font-family: Times New Roman;
    font-size: 1.5rem;}
body {background-color: #F2EFDF;}
h3,h5,h6,h8 {text-align: left;
    color: #DC8B73}
    nav {color: #C8C6AD}